.row
  = link_to 'Create dashboard', new_dashboard_path, class: 'btn btn-success'
  .page-header
    %h2 Dashboards list
  - @dashboards.each do |dashboard|
    .panel.panel-default
      .panel-heading
        .panel-title= dashboard.title
      .panel-body
        = dashboard.description
      .panel-footer
        = link_to 'Edit', edit_dashboard_path(dashboard), class: 'btn btn-warning'
        - user_dashboard = current_user.user_dashboards.find_by(dashboard_id: dashboard.id)
        - if user_dashboard
          = link_to 'Remove from my menu', user_dashboard_path(user_dashboard), method: :delete, class: 'btn btn-danger'
        - else
          = link_to 'Add to my menu', user_dashboards_path(dashboard_id: dashboard.id), method: :post, class: 'btn btn-info'
